/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  margin: 0;
}

body {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: [first-end] repeat(8, 10.25vw);
  padding: 2vw;
}

.eight {
  background-color: #eeff00;
  border-radius: 2vw;
  width: 10.25vw;
  height: 10.25vw;
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.four {
  background-color: #ff0000;
  border-radius: 4vw;
  width: 22.5vw;
  height: 22.5vw;
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.two {
  background-color: #3cff00;
  border-radius: 6vw;
  width: 47vw;
  height: 47vw;
  grid-column-end: span 4;
  grid-row-end: span 4;
}

.one {
  background-color: #00ffff;
  border-radius: 8vw;
  width: 96vw;
  height: 96vw;
  grid-column-end: span 8;
  grid-row-end: span 8;
} */

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  padding: 2vw;
  height: calc(100vh - 4vw);
}

#sideone, #sidetwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  overflow: scroll;
}

:is(.eight, .four, .two, .one) {
  grid-column-end: var(--span);
  grid-row-end: var(--span);
  background-position: center center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.eight {
  --span: span 1;
  background-color: #eeff00;
  border-radius: 2vw;
  background-size: 11.1vw;
}

.four {
  --span: span 2;
  background-color: #f00;
  border-radius: 4vw;
  background-size: 23.6vw;
}

.two {
  --span: span 4;
  background-color: #3cff00;
  border-radius: 6vw;
  background-size: 48.5vw;
}

.one {
  --span: span 8;
  background-color: #0ff;
  border-radius: 8vw;
  background-size: 97.6vw;
}