#parallax {
  background-image: url('../Pictures/Wallpaper1.png');
  background-position: 0vw -100%;
}

#parallax p {
  color: #000000;
}

#buttons {
  width: 100vw;
  height: auto;
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding: 0vw 7vw 0vw 7vw;
}

.contactbutton {
  border-radius: 100vw;
  width: 15vw;
  height: 15vw;
  margin: 6vw;
  background-position: center;
  background-size: 10vw 10vw;
  background-repeat: no-repeat;
  box-shadow: 1vw 1vw 2vw var(--shadow), -1vw -1vw 2vw var(--light);
}

.contactbutton:active {
  box-shadow: inset 1vw 1vw 2vw var(--shadow), inset -1vw -1vw 2vw var(--light);

}











@media (orientation: landscape) {
  #bottom {
  }

  #parallax {
    height: 94vh;
    width: auto;
  }

  #buttons {
    width: 35vw;
  }
}