* {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 600;

}

@keyframes navfade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background: #181818;
  margin: 0;
  padding-bottom: 3vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: #00e0ff;
  box-shadow: 0vw 0vw 2vw #00e1ff80;
  position: fixed;
  top: 0;
  width: 98%;
  height: auto;
  border-radius: 0vw 0vw 2vw 2vw;
  z-index: 1;
}

header .logo {
  width: auto;
  height: 4vw;
  cursor: pointer;
  border-radius: 1vw;
  padding: 0vw;
}

a {
  text-decoration: none;
  border-radius: 5vw;
}

header a {
  width: 4vw;
  height: 4vw;
  animation: 0.5s ease-out 0s 1 navfade;
}

.navbar {
  list-style: none;
  padding: 0vw;
  margin: 0vw;
}

.navbar li {
  display: inline-block;
  padding: 0vw 0.5vw;
  animation: 0.5s ease-out 0s 1 navfade;
}

.navbar a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 300;
}

.navbar a:hover {
  color: #181818;
}

.contact {
  text-decoration: none;
  display: flex;
  font-size: 2vw;
  background-color: #181818;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 0.5vw 1.5vw;
  width: auto;
  height: auto;
  margin-top: 0.5vw;
  font-weight: 300;
}

.contact:hover {
  background-color: #ffffff;
  color: #181818;
}

.bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: -1;
  align-content: center;
}

.parallax {
  background-image: url(../Pictures/SimplyCubed_EndFortress.png);
  height: 46vw;
  width: 100vw;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 150vw;
  border-radius: 0vw 0vw 10vw 10vw;
  padding-top: 5vw;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.parallax p {
  display: flex;
  justify-content: center;
  font-size: 10vw;
  color: #000000;
  width: 60vw;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1vw;
  border-radius: 4vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 0.1vw solid rgba(255, 255, 255, 0.25);
}

.parallax a {
  font-weight: 300;
  font-size: 2vw;
}

.parallax a:hover {
  text-decoration: underline;
}

.item {
  display: flex;
  width: 40vw;
  height: auto;
  flex-wrap: wrap;
  margin-top: 5vw;
  font-size: 3vw;
}

.item img {
  width: 10vw;
  height: 10vw;
  padding: 0vw;
  margin-left: 2vw;
}

.item a {
  width: 40vw;
}

.type {
  margin: auto;
  padding-right: 1vw;
  font-size: 90%;
}

.section {
  width: 36vw;
  margin-top: 2vw;
  padding: 2vw;
  height: 15vw;
  border-radius: 3vw;
  box-shadow: 1vw 1vw 2vw #080808, -1vw -1vw 2vw #282828;
}

.name {
  width: auto;
  font-size: 100%;
  font-weight: 300;
  margin: 0vw;
}

.description {
  font-weight: 100;
  width: auto;
  margin-bottom: 0vw;
}



@media (orientation: landscape) {
  header .logo {
    height: 4vw;
    border-radius: 1vw;
  }

  .li {
    display: inline-block;
    padding: 0vw 1vw;
  }

  .navbar a {
    font-size: 2vw;
  }

  .cta {
    font-size: 2vw;
    padding: 0.5vw 1vw;
  }

  .bottom {
    padding-top: 6vw;
  }

  .parallax {
    width: 45vw;
    height: 25vw;
    margin-top: 0vw;
    border-radius: 5vw;
    border-radius: 0vw 0vw 5vw 5vw;
    background-position: -6vw 6vw;
    background-size: 70vw;
  }

  .parallax p {
    font-size: 6vw;
    width: 37vw;
    margin: 5vw;
    margin-top: auto;
  }

  .item {
    margin-top: 3vw;
    font-size: 2vw;
  }

  .section {
    height: 10vw;
  }

  .type {
    font-size: 105%;
  }
}