#parallax {
  background-image: url('../Pictures/SimplyCubed_Monument.png');
}

#parallax p {
  color: #ffffff;
}

#bottom a {
  width: auto;
  height: auto;
}

.item {
  height: 50vw;
  width: 90vw;
  box-shadow: 1vw 1vw 3vw var(--shadow), -1vw -1vw 3vw var(--light);
  order: 2;
  margin-top: 5vw;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.item p {
  font-size: 4vw;
  margin: 3vw;
  height: 65%;
}

.title {
  background-image: url('../Pictures/SimplyCubed_Bastion.png');
  background-size: 90vw;
  border-radius: 3vw;
  margin: 2vw;
  height: 35%;
  width: 86vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 5vw;
  border-radius: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border: 0.1vw solid rgba(255, 255, 255, 0.25);
}











@media (orientation: landscape) {
  #parallax {
    width: 100vw;
    height: 25vw;
    background-size: 100vw;
  }
  
  .item {
    height: 41vw;
    width: 43vw;
  }

  .item p {
    font-size: 2.5vw;
  }

  .title {
    width: 39vw;
  }

  .title h1 {
    font-size: 3.5vw;
  }
}