* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #181818;
  color: white;
  margin: 0;
  padding-bottom: 5vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: #00e1ff;
  position: fixed;
  top: 0;
  width: 98%;
  height: auto;
  border-radius: 0vw 0vw 2vw 2vw;
}

header .logo {
  width: auto;
  height: 4vw;
  cursor: pointer;
  border-radius: 1vw;
  padding: 0vw;
}

header a{
  width: 4vw;
  height: 4vw;
}

.nav__links {
  list-style: none;
  padding: 0vw;
  margin: 0vw;
}

.nav__links li {
  display: inline-block;
  padding: 0vw 1vw;
  margin-left: 0vw;
}

.nav__links li a {
  color: #ffffff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 3vw;
}

.nav__links li a:hover {
  color: #181818;
}

li a button {
  color: #ffffff;
}

.contact{
  text-decoration: none;
  display: flex;
  font-size: 2vw;
  color: #ffffff;
  background-color: #181818;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 0.5vw 1.5vw;
  width: auto;
  height: auto;
  margin-top: 0.5vw;
}

.contact:hover {
  background-color: #ffffff;
  color: #181818;
}

.parallax {
  background-image: url("https://raw.githubusercontent.com/LightslicerGP/LightslicerGP/master/Pictures/My%20Future.jpeg");
  height: 40vw;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  border-radius: 0vw 0vw 10vw 10vw;
  border: 0px solid #181818;
  padding-top: 8vw;
}

.parallax p {
  display: flex;
  justify-content: center;
  font-size: 10vw;
  color: black;
  background: cyan;
  margin: 14vw;
  border-radius: 5vw;
}





@media (orientation: landscape) {
  header .logo {
    height: 4vw;
    border-radius: 1vw;
  }

  .li {
    display: inline-block;
    padding: 0vw 1vw;
  }

  .nav__links li a {
    font-size: 2vw;
  }

  .cta {
    font-size: 2vw;
    padding: 0.5vw 1vw;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .parallax {
    height: 20vw;
    background-position: top left;
    background-size: 50vw;
    border-radius: 7vw;
    padding-top: 8vw;
    width: 40vw;
  }

  .parallax p {
    font-size: 7vw;
    margin: 5vw;
    border-radius: 3vw;
    padding: 1vw;
  }

  .title {
    border-radius: 5vw;
    width: 45vw;
    height: 20vw;
    margin-top: 8vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
  }
  
  .title p {
    width: 30vw;
    padding: 2vw;
    margin-left: 2vw;
    font-size: 2.5vw;
  }
  
  .title .logo {
    width: 13vw;
    height: 13vw;
    border-radius: 4vw;
    padding: 1vw;
    margin: 2vw 3vw;
    margin-left: auto;
  }

  .intro {
    border-radius: 5vw;
    width: 40vw;
  }
  
  .subsandviews {
    padding: 3vw;
  }
  
  .counters {
    font-size: 3vw;
  }
  
  .subtitles {
    font-size: 2vw;
    padding-bottom: 1vw;
  }
  
  .introparagraph {
    padding: 3vw;
    text-indent: 2vw;
    font-size: 1vw;
  }

  .carousel{
    margin-top: 5vw;
  }

  .container {
    width: 46vw;
    border-radius: 4vw;
  }
  
  .container a{
    height: 23vw;
  }

  .carouselshowcase {
    height: 21vw;
    width: 44vw;
    border-radius: 3vw;
  }
}